@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_shadow{
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px -1px 1px 0px rgba(0, 0, 0, 0.04) inset, 0px -1px 2px 0px rgba(0, 0, 0, 0.05) inset;
    ;
}